doctype html
html(lang="en")
    include includes/head.pug
    style
      include css/porten.css
      include css/collection21.css
      include css/collection18.css
      include css/newcollection.css
      include css/footer.css
body
    .wrapper
        include includes/porten.pug
        include includes/collection21.pug
        include includes/collection18.pug
        include includes/newcollection.pug
        include includes/footer.pug