mixin image
    span.fine
        img(src='../image/coco.png' ) 
.footer
    .our_plans наши бренды
    div
    img(src='../image/Line.png' )
    div
        +image
        +image 
        +image
        +image