.newcollections
  .newcollection
    .season новые поступления
        .line
    .watches    
        mixin picture(path, brand , cost)
            .item
                img(src=path)
                p.brand= brand
                p.cost= cost
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
        +picture('../image/watch.png','Louis XVI ATHOS','165 000 руб.')
